{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_jokeofday/joke_component
    TODO Actions panel at the bottom of the assignment grading UI.

    Example context (json):
    {}
}}
<div class="card">
    <div class="card-header">{{#str}} todaysjoke, mod_jokeofday {{/str}}</div>
    <div class="card-body">
        {{#joke}}
            <p>{{joke}}</p>
        {{/joke}}
        <p>{{joke_setup}}</p>
        {{#joke_delivery}}
            <p>{{joke_delivery}}</p>
        {{/joke_delivery}}
    </div>
    <form data-region="jokeForm">
        <div class="form-group col-md-4">
            <label for="selectvalue">Example multiple select</label>
            <select class="form-control" id="selectvalue" data-action="score">
                {{{options}}}
            </select>
        </div>
<!--        <input type="submit" value="Submit">-->
    </form>
</div>
<br>
<div class="container mx-auto mt-4">
    <div class="row">
        {{#scores}}
        <div class="col-md-4" style="display: inline-block">
            <div class="card">
                <div class="card-header">{{#str}} meanjoke, mod_jokeofday {{/str}} {{score}}</div>
                <div class="card-body">
                    {{#joke2}}
                        <p>{{joke2}}</p>
                    {{/joke2}}

                </div>
            </div>
        </div>
        {{/scores}}
    </div>
</div>

{{#js}}
    require(['mod_jokeofday/score'], function(score) {
        score.initScore('[data-region="jokeForm"]', '{{jokeid}}','{{cmid}}');
    });
{{/js}}


